<!-- Bottom Nav-->
<footer >
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">
     &copy; TourneyTeam,&reg; Centennial College - COMP 229 - Fall 2022 
    </h6>
  </nav>
</footer>
