<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<br><br><br>
<head> <link rel='stylesheet' href='/Content/about.css' /> </head>
 <div id="aboutPage">
    <!-- <div id="displayPage"> 
      <main class="container">
        <form class="form" method="post">
          <div class="row">-->

<h1> 
COMP 229 - 008  Web Application Development <br> Prof. Zakiyabanu Malek 
<br> Tourney Team - Fall 2022
</h1>        
 </div>
 <div>
<h2>
        <img src="../../Assets/images/aboutpage111.png" height="450" width="1000px" style="float:center; margin-left: 0.01in; margin-right: 0.2in; margin-top: 0.1in;"/>
</h2>
 
      
    </div>  
      


<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>